<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySQL 조회</title>

    <style>
        .div-container {
            overflow-y: auto; /* 세로 스크롤바 추가 */
            max-height: 150px; /* 최대 높이 설정 */
        }
    </style>

    <script>
        async function getDistinctData() {
            document.getElementById('divDistinctData').innerText = 'Loading...';
            result = "";
            await fetch('/getDistinctData')
            .then(response => {
                if(!response.ok)
                    throw new Error('Network Error!');
                return response.json();
            })
            .then(data => {
               for (const item of data) {
                   console.log(item.APTNM + item.EXCLUUSEAR + item.JIBUN + item.UMDNM);
                   data = item.APTNM + " / " + item.EXCLUUSEAR + " / " + item.JIBUN + " / " + item.UMDNM + "\n";
                   result += data;
               }
               document.getElementById('divDistinctData').innerText = result;
            })
        }

<!--        22/10~23/3 까지 매매가랑 현재가랑 비교해서 1억 미만 조회-->
        async function getComparedData() {
            const comparedYear = document.getElementById('comparedYear').value;
            const comparedMonth = document.getElementById('comparedMonth').value;
            result = "";
            const param = {
                "comparedYear": comparedYear,
                "comparedMonth": comparedMonth
            };

            await fetch('/getComparedData', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(param)
            })
            .then(response => {
                if(!response.ok)
                    throw new Error('Network Error!');
                return response.json();
            })
            .then(data => {
                for (const item of data) {
                   console.log(item.APTNM + item.EXCLUUSEAR + item.JIBUN + item.UMDNM);
                   data = item.APTNM + " / " + item.EXCLUUSEAR + " / " + item.JIBUN + " / " + item.UMDNM + "전:" + item.DEALAMOUNT + " 후:" + item.DEALAMOUNT2 + " diff:" + item.DIFF + "\n";
                   result += data;
               }
               document.getElementById('divComparedData').innerText = result;
            })
        }

        async function insertDealAmount() {
            const lawdCd = document.getElementById('lawd').value;

            const param = {
                "lawdCd": lawdCd
            };
            await fetch('/insertDealAmount', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(param)
            })
            .then(response => {
                if(!response.ok)
                    throw new Error('Network Error!');
                return response.json();
            })
            .then(data => {
                alert("INSERT SUCCESS");
                console.log("INSERT SUCCESS");
            })
        }

        async function InsertCurrentDealAmount() {
            const lawdCd = document.getElementById('lawdInsertCurrent').value;

            const param = {
                "lawdCd": lawdCd
            };

            await fetch('/insertCurrentDealAmount', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(param)
            })
            .then(response => {
                if(!response.ok)
                    throw new Error('Network Error!');
                return response.json();
            })
            .then(data => {
                console.log("INSERT SUCCESS : CURRENT DEAL AMOUNT");
                alert("INSERT SUCCESS : CURRENT DEAL AMOUNT");
            })
        }

        async function InsertCurrentRentAmount() {
            const lawdCd = document.getElementById('lawdInsertRentCurrent').value;
            console.log("dd");
            const param = {
                "lawdCd": lawdCd
            };

            await fetch('/insertCurrentRentAmount', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(param)
            })
            .then(response => {
                if(!response.ok)
                    throw new Error('Network Error!');
                return response.json();
            })
            then(data => {
                console.log("INSERT SUCCESS : CURRENT RENT AMOUNT");
                alert("INSERT SUCCESS : CURRENT RENT AMOUNT");
            })
        }

        async function SearchComparisonDealAmount() {
            const lawdCd = document.getElementById('lawdComparison').value;
            const param = {
                "lawdCd": lawdCd
            };

            await fetch('/searchComparisonDealAmount', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(param)
            })
            .then(response => {
                if(!response.ok)
                    throw new Error('Network Error!');
                return response.json();
            })
            .then(data => {
                const dataArea = document.getElementById('comparisonDealAmount');
                result = "";
                data.forEach(item => {
                    result += item;
                    console.log(item);
                });
                dataArea.innerText = result;
                alert("Search comparison of data");
            })
        }

        async function SearchDiffOfTradeRent() {
            const lawdCd = document.getElementById('lawdDiff').value;
            const param = {
                "lawdCd": lawdCd
            };

            await fetch('/searchDiffOfTradeRent', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(param)
            })
            .then(response => {
                if(!response.ok)
                    throw new Error('Network Error!');
                return response.json();
            })
            .then(data => {
                const dataArea = document.getElementById('diffOfTradeRent');
                result = "";
                data.forEach(item => {
                    result += item;
                    console.log(item);
                });
                dataArea.innerText = result;
                alert("SUCCESS Searching a Diff Between Trade and Rent");
            })
        }
    </script>
</head>
<body>
<h1>MySQL 데이터 조회</h1>
<h2>아파트/평형 데이터 종류 조회</h2>
<button onclick="getDistinctData()">아파트/평형 조회</button>
<div id="divDistinctData" style="div-container"></div>
<hr/>

<h2>22/10~23/3 현재 매매가 비교</h2>
<button onclick="getComparedData()">성동구 조회</button>
<div id="divComparedData" stle="div-container"></div>
<hr/>

<h2>지역별 매매가 데이터 넣기 (22/10~23/03)</h2>
<label for="lawd">지역명</label>
<select name="lawd" id="lawd">
    <option>-----서울시-----</option>
    <option value="11110">종로구</option>
    <option value="11140">중구</option>
    <option value="11170">용산구</option>
    <option value="11200">성동구</option>
    <option value="11215">광진구</option>
    <option value="11230">동대문구</option>
    <option value="11260">중랑구</option>
    <option value="11290">성북구</option>
    <option value="11305">강북구</option>
    <option value="11320">도봉구</option>
    <option value="11350">노원구</option>
    <option value="11380">은평구</option>
    <option value="11410">서대문구</option>
    <option value="11440">마포구</option>
    <option value="11470">양천구</option>
    <option value="11500">강서구</option>
    <option value="11530">구로구</option>
    <option value="11545">금천구</option>
    <option value="11560">영등포구</option>
    <option value="11590">동작구</option>
    <option value="11620">관악구</option>
    <option value="11650">서초구</option>
    <option value="11680">강남구</option>
    <option value="11710">송파구</option>
    <option value="11740">강동구</option>
    <option>-----성남시-----</option>
    <option value="41135">분당구</option>
    <option>-----용인시-----</option>
    <option value="41465">수지구</option>
</select>
<button onclick="insertDealAmount()">매매가 넣기</button>
<hr/>
<h2>지역별 매매가 데이터 넣기 (지난 달)</h2>
<label for="lawd">지역명</label>
<select name="lawd" id="lawdInsertCurrent">
    <option>-----서울시-----</option>
    <option value="11110">종로구</option>
    <option value="11140">중구</option>
    <option value="11170">용산구</option>
    <option value="11200">성동구</option>
    <option value="11215">광진구</option>
    <option value="11230">동대문구</option>
    <option value="11260">중랑구</option>
    <option value="11290">성북구</option>
    <option value="11305">강북구</option>
    <option value="11320">도봉구</option>
    <option value="11350">노원구</option>
    <option value="11380">은평구</option>
    <option value="11410">서대문구</option>
    <option value="11440">마포구</option>
    <option value="11470">양천구</option>
    <option value="11500">강서구</option>
    <option value="11530">구로구</option>
    <option value="11545">금천구</option>
    <option value="11560">영등포구</option>
    <option value="11590">동작구</option>
    <option value="11620">관악구</option>
    <option value="11650">서초구</option>
    <option value="11680">강남구</option>
    <option value="11710">송파구</option>
    <option value="11740">강동구</option>
    <option>-----성남시-----</option>
    <option value="41135">분당구</option>
    <option>-----용인시-----</option>
    <option value="41465">수지구</option>
</select>
<button onclick="InsertCurrentDealAmount()">매매가 넣기</button>

<hr/>
<h2>지역별 전세가 데이터 넣기 (지난 달)</h2>
<label for="lawd">지역명</label>
<select name="lawd" id="lawdInsertRentCurrent">
    <option>-----서울시-----</option>
    <option value="11110">종로구</option>
    <option value="11140">중구</option>
    <option value="11170">용산구</option>
    <option value="11200">성동구</option>
    <option value="11215">광진구</option>
    <option value="11230">동대문구</option>
    <option value="11260">중랑구</option>
    <option value="11290">성북구</option>
    <option value="11305">강북구</option>
    <option value="11320">도봉구</option>
    <option value="11350">노원구</option>
    <option value="11380">은평구</option>
    <option value="11410">서대문구</option>
    <option value="11440">마포구</option>
    <option value="11470">양천구</option>
    <option value="11500">강서구</option>
    <option value="11530">구로구</option>
    <option value="11545">금천구</option>
    <option value="11560">영등포구</option>
    <option value="11590">동작구</option>
    <option value="11620">관악구</option>
    <option value="11650">서초구</option>
    <option value="11680">강남구</option>
    <option value="11710">송파구</option>
    <option value="11740">강동구</option>
    <option>-----성남시-----</option>
    <option value="41135">분당구</option>
    <option>-----용인시-----</option>
    <option value="41465">수지구</option>
</select>
<button onclick="InsertCurrentRentAmount()">전세가 넣기</button>

<hr/>
<h2>지역별 매매가 데이터 조회 (2210~2303 대비 매매가차이 1억 이하)</h2>
<label for="lawd">지역명</label>
<select name="lawd" id="lawdComparison">
    <option>-----서울시-----</option>
    <option value="11110">종로구</option>
    <option value="11140">중구</option>
    <option value="11170">용산구</option>
    <option value="11200">성동구</option>
    <option value="11215">광진구</option>
    <option value="11230">동대문구</option>
    <option value="11260">중랑구</option>
    <option value="11290">성북구</option>
    <option value="11305">강북구</option>
    <option value="11320">도봉구</option>
    <option value="11350">노원구</option>
    <option value="11380">은평구</option>
    <option value="11410">서대문구</option>
    <option value="11440">마포구</option>
    <option value="11470">양천구</option>
    <option value="11500">강서구</option>
    <option value="11530">구로구</option>
    <option value="11545">금천구</option>
    <option value="11560">영등포구</option>
    <option value="11590">동작구</option>
    <option value="11620">관악구</option>
    <option value="11650">서초구</option>
    <option value="11680">강남구</option>
    <option value="11710">송파구</option>
    <option value="11740">강동구</option>
    <option>-----성남시-----</option>
    <option value="41135">분당구</option>
    <option>-----용인시-----</option>
    <option value="41465">수지구</option>
</select>
<button onclick="SearchComparisonDealAmount()">매매가 조회</button>
<div id="comparisonDealAmount"></div>

<hr/>
<h2>매매가-전세가 차이 1억 미만</h2>
<label for="lawd">지역명</label>
<select name="lawd" id="lawdDiff">
    <option>-----서울시-----</option>
    <option value="11110">종로구</option>
    <option value="11140">중구</option>
    <option value="11170">용산구</option>
    <option value="11200">성동구</option>
    <option value="11215">광진구</option>
    <option value="11230">동대문구</option>
    <option value="11260">중랑구</option>
    <option value="11290">성북구</option>
    <option value="11305">강북구</option>
    <option value="11320">도봉구</option>
    <option value="11350">노원구</option>
    <option value="11380">은평구</option>
    <option value="11410">서대문구</option>
    <option value="11440">마포구</option>
    <option value="11470">양천구</option>
    <option value="11500">강서구</option>
    <option value="11530">구로구</option>
    <option value="11545">금천구</option>
    <option value="11560">영등포구</option>
    <option value="11590">동작구</option>
    <option value="11620">관악구</option>
    <option value="11650">서초구</option>
    <option value="11680">강남구</option>
    <option value="11710">송파구</option>
    <option value="11740">강동구</option>
    <option>-----성남시-----</option>
    <option value="41135">분당구</option>
    <option>-----용인시-----</option>
    <option value="41465">수지구</option>
</select>
<button onclick="SearchDiffOfTradeRent()">조회</button>
<div id="diffOfTradeRent"></div>

</body>
</html>